
    <footer>
      <div class="container">
        <div class="py-3">
          <div class="row">
            <span class="text-center">Copyright ©2023 Department of Local Administration. All right reserved.<br>
               [วันเวลา][dla-cc67][เลขเครื่อง][เลข session] Best Screen Resolution : 1280X1024px and Web Browser Google Chrome Version 70 หรือสูงกว่า</span>
        </div>
      </div>
    </footer>
  </body>
</html>