<div class="container-xl title-head"> 
    <div class="group-search">
      <!-- Start -->
      <div class="row justify-content-md-center">
        <div class="icon-search ">
          <a href="./../frontendHTML/search-1-2.html" class="text-center">
            <img src="../public/assets/images/icon/01.png" class=" img-fluid" alt="...">
            <p>กฏหมาย/ระเบียบ</p>
          </a>      
        </div>
        <div class="icon-search ">
          <a href="#" class="text-center">
            <img src="../public/assets/images/icon/02.png" class=" img-fluid" alt="...">
            <p>คลังข้อบัญญัติท้องถิ่น</p>
          </a>      
        </div>
        <div class="icon-search ">
          <a href="#" class="text-center">
            <img src="../public/assets/images/icon/03.png" class=" img-fluid" alt="...">
            <p>หนังสือสั่งการ/แจ้งเวียน </p>
          </a>      
        </div>
        <div class="icon-search ">
          <a href="#" class="text-center">
            <img src="../public/assets/images/icon/04.png" class=" img-fluid" alt="...">
            <p>ข้อหารือ/ให้ความเห็น </p>
          </a>      
        </div>
        <div class="icon-search ">
          <a href="#" class="text-center">
            <img src="../public/assets/images/icon/05.png" class=" img-fluid" alt="...">
            <p>จัดตั้ง/เปลี่ยนแปลงฐานะ.. </p>
          </a>      
        </div>
        <div class="icon-search ">
          <a href="#" class="text-center">
            <img src="../public/assets/images/icon/06.png" class=" img-fluid" alt="...">
            <p>คำพิพากษา</p>
          </a>      
        </div>
        <div class="icon-search ">
          <a href="#" class="text-center">
            <img src="../public/assets/images/icon/07.png" class=" img-fluid" alt="...">
            <p>ความเห็นกฤษฎีกาที่เกี่ยวข้อง</p>
          </a>      
        </div>
        <div class="icon-search ">
          <a href="#" class="text-center">
            <img src="../public/assets/images/icon/08.png" class=" img-fluid" alt="...">
            <p>พิจารณาอุทธรณ์</p>
          </a>      
        </div>
        <div class="icon-search ">
          <a href="#" class="text-center">
            <img src="../public/assets/images/icon/09.png" class=" img-fluid" alt="...">
            <p>ละเมิดบุคคลภายนอก </p>
          </a>      
        </div>
        <div class="icon-search ">
          <a href="#" class="text-center">
            <img src="../public/assets/images/icon/010.png" class=" img-fluid" alt="...">
            <p>ประเมินคุณธรรมและ
              ความโปร่งใสฯ (ITA)</p>
          </a>      
        </div>
        <div class="icon-search">
          <a href="#" class="text-center">
            <img src="../public/assets/images/icon/011.png" class=" img-fluid" alt="...">
            <p>ความเห็นคณะกรรมการร่าง
              กฏหมายมหาดไทย </p>
          </a>      
        </div>
        <div class="icon-search ">
          <a href="#" class="text-center">
            <img src="../public/assets/images/icon/012.png" class=" img-fluid" alt="...">
            <p>คำถามที่พบบ่อย FAQ  </p>
          </a>      
        </div>
        </div>

      </div>
      <!-- end -->
        
    </div>
    