@@include('./common/header.html')


<main>
  <div class="container-xl title-head two-column">
    <div class="row justify-content-between">
      <div class="col-auto">
        <h3 class="title">กลุ่มงานวินิจฉัย และกำกับดูแล / กรณีสั่งพ้น</h3>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-success" onclick="document.location.href='Law-2-4-add.html'">เพิ่มข้อมูล</button>
      </div>
    </div>
    
    <h5>เงื่อนไขการค้นหา </h5>
    <div class="group-search">
      <!-- Start -->
      <div class="row from-two-column">
        <div class="col-md-6">
          <div class=" row">
            <label  class="col-sm-5 col-form-label">จังหวัด </label>
            <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                    <option selected>กรุณาเลือก...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
          </div>        
        </div>
        <div class="col-md-6">
          <div class=" row">
            <label  class="col-sm-5 col-form-label">อำเภอ</label>
            <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                    <option selected>กรุณาเลือก...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
          </div>        
        </div>
      </div>
      <!-- end -->
      <!-- Start -->
      <div class="row from-one-column">
        <div class="col-md-6">
          <div class=" row">
            <label  class="col-sm-5 col-form-label">อปท.</label>
            <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                    <option selected>กรุณาเลือก...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>       
            </div>
          </div>        
        </div> 
      </div>
      <!-- end -->
      <!-- Start -->
      <div class="row from-two-column">
        <div class="col-md-6">
          <div class=" row">
            <label  class="col-sm-5 col-form-label">เลขคำสั่งจังหวัด</label>
            <div class="col-sm-7">
                <input type="text" class="form-control">
            </div>
          </div>        
        </div>
        <div class="col-md-6 from-date">
          <div class=" row">
            <label  class="col-sm-5 col-form-label">วดป ออกคำสั่ง  </label>
            <div class="col-sm-7">
                <div class="input-group date" id="dated">
                    <input type="text" class="form-control" id="date"/>
                    <span class="input-group-append">
                      <span class="input-group-text bg-light d-block">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </span>
                  </div>   
            </div>
          </div>        
        </div>
      </div>
      <!-- end -->
      <!-- Start -->
      <div class="row from-two-column">
        <div class="col-md-6">
          <div class=" row">
            <label  class="col-sm-5 col-form-label">ชื่อ   </label>
            <div class="col-sm-7">
                <input type="text" class="form-control">
            </div>
          </div>        
        </div>
        <div class="col-md-6">
          <div class=" row">
            <label  class="col-sm-5 col-form-label">นามสกุล</label>
            <div class="col-sm-7">
                <input type="text" class="form-control">
            </div>
          </div>        
        </div>
      </div>
      <!-- end -->
      <!-- Start -->
      <div class="row from-one-column">
        <div class="col-md-6">
          <div class=" row">
            <label  class="col-sm-5 col-form-label">มูลเหตุ </label>
            <div class="col-sm-7">
                <input type="text" class="form-control">
            </div>
          </div>        
        </div>        
      </div>
      <!-- end -->
     
    </div>
    <div class="card-footer  d-md-flex justify-content-md-end group-buttom-search">
      <button type="button" class="btn btn-green mx-1">ค้นหา</button>
      <button type="button" class="btn btn-green mx-1">แสดงทั้งหมด</button>
      <button type="button" class="btn btn-green mx-1">เริ่มค้นหาใหม่ </button>
      <button type="button" class="btn btn-danger mx-1">ยกเลิก </button>
      <button type="button" class="btn btn-warning mx-1">ออกรายงาน </button>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
          <thead>
            <tr class="bg-green3 text-white">
              <th scope="col">เลขคำสั่งจังหวัด</th>
              <th scope="col">วดป ออกคำสั่ง </th>
              <th scope="col">ชื่อ - นามสกุล</th>
              <th scope="col">มูลเหตุ</th>
              <th scope="col">ประเภท อปท. </th>
              <th scope="col">อบจ.</th>
              <th scope="col">เทศบาล</th>
              <th scope="col">ชื่ออปท.</th>
              <th scope="col">ดาวน์โหลด</th>
              <th scope="col"></th>
          </tr>

          </thead>
          <tbody>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td width="10%">
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end group-btn-table">
                      <button class="btn btn-sm btn-icon btn-icon-only btn-primary" type="button" ><i class="fa fa-search"></i></button>                      
                      <button class="btn btn-sm btn-icon btn-icon-only btn-warning" type="button" ><i class="fa fa-edit"></i></button>
                      <button class="btn btn-sm btn-icon btn-icon-only btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete"><i class="fa fa-trash-alt"></i></button>
                      <div class="modal" id="delete" tabindex="-1">
                        <div class="modal-dialog">
                          <div class="modal-content">              
                            <div class="modal-body">
                              <img src="./public/assets/images/delete.png" class="img-fluid mx-auto d-block">
                            </div>
                            <div class="mx-auto d-block pt-2 pb-4">
                              <button type="button" class="btn btn-primary">ยืนยัน  </button>
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>

              </td>

          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td width="10%">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end group-btn-table">
                    <button class="btn btn-sm btn-icon btn-icon-only btn-primary" type="button"><i class="fa fa-search"></i></button>
                    <button class="btn btn-sm btn-icon btn-icon-only btn-warning" type="button"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-sm btn-icon btn-icon-only btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete"><i class="fa fa-trash-alt"></i></button>
                      <div class="modal" id="delete" tabindex="-1">
                        <div class="modal-dialog">
                          <div class="modal-content">              
                            <div class="modal-body">
                              <img src="./public/assets/images/delete.png" class="img-fluid mx-auto d-block">
                            </div>
                            <div class="mx-auto d-block pt-2 pb-4">
                              <button type="button" class="btn btn-primary">ยืนยัน  </button>
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>

            </td>

        </tr>
          </tbody>
      </table>
  </div>

  </div>
  


 

</main>


@@include('./common/footer.html')