@@include('./common/header.html')


<main>
  <div class="container-xl title-head">
    <div class="row justify-content-between">
      <div class="col-auto">
        <h3 class="title">ข้อมูลการวินิจฉัยการสั่งให้พ้นจากตำแหน่งและการยุบสภาท้องถิ่น  </h3>
      </div>
      
    </div>
    
    
    <div class="group-add">      
        <!-- Start -->
        <div class="row from-two-column">
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">เลขคำสั่งจังหวัด     </label>
              <div class="col-sm-7">
                <input type="text" class="form-control">
              </div>
            </div>        
          </div>
          <div class="col-md-6 from-date">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">ลงวันที่    </label>
              <div class="col-sm-7">
                <div class="input-group date" id="receive-book">
                  <input type="text" class="form-control" id="date" value="">
                  <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>        
          </div>
        </div>
        <!-- end -->
        <!-- Start -->
      <div class="row from-two-column">
        <div class="col-md-6">
          <div class=" row">
            <label  class="col-sm-5 col-form-label">จังหวัด </label>
            <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                    <option selected>กรุณาเลือก...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
          </div>        
        </div>
        <div class="col-md-6">
          <div class=" row">
            <label  class="col-sm-5 col-form-label">อำเภอ</label>
            <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                    <option selected>กรุณาเลือก...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
          </div>        
        </div>
      </div>
      <!-- end -->
      <!-- Start -->
      <div class="row from-one-column">
        <div class="col-md-6">
          <div class=" row">
            <label  class="col-sm-5 col-form-label">อปท.</label>
            <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                    <option selected>กรุณาเลือก...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>       
            </div>
          </div>        
        </div> 
      </div>
      <!-- end -->
        <!-- Start -->
        <div class="row from-two-column">
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">ประเภทเรื่อง  </label>
              <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                  <option selected>ทั้งหมด</option>
                  <option value="1">วินิจฉัยสมาชิกสภาพ</option>
                  <option value="2">สั่งให้พ้นจากตำแหน่ง</option>
                  <option value="3">ยุุบสภา</option>
              </select>  
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">กรณี </label>
              <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                  <option selected>ทั้งหมด</option>
                  <option value="1">มีการแต่งตั้งคณะกรรมการสอบสวน  </option>
                  <option value="2">ไม่มีการแต่งตั้งคณะกรรมการสอบสวน </option>                  
                </select>  
              </div>
            </div>        
          </div>
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row from-full">
          <div class="col-md-12">
            <div class=" row">
              <label  class="col-sm-3 col-form-label note">มูลเหตุ  </label>
              <div class="col-sm-9">
                <input type="text" class="form-control">
              </div>
            </div>        
          </div>
          
        </div>
        <!-- end --> 
        <!-- Start -->
        <div class="row from-one-column">
          <div class="col-md-6 attach-file">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">แนบไฟล์   </label>
              <div class="col-sm-7">
                <input type="file" class="form-control" id="customFile" />
              </div>
            </div>        
          </div>
          
        </div>
        <!-- end -->
        
        
      </div>       
      <!-- Start -->
      <div class="title-accused mt-4">
        <div class="row">
          <h5 class="title pe-3">เพิ่มผู้ถูกกล่าวหา </5><a class="ps-2" data-bs-toggle="modal" data-bs-target="#accused"><i class="fa-solid fa-circle-plus text-primary"></i></a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="accused" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">ผู้ถูกกล่าวหา  </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- Start -->
                <div class="row from-two-column">
                  <div class="col-md-6">
                    <div class=" row">
                      <label class="col-sm-5 col-form-label">ชื่อ<span class="text-red">*</span>   </label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control">
                      </div>
                    </div>        
                  </div>
                  <div class="col-md-6">
                    <div class=" row">
                      <label class="col-sm-5 col-form-label">นามสกุล<span class="text-red">*</span></label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control">
                      </div>
                    </div>        
                  </div>
                </div>
                <!-- end -->
                <!-- Start -->
                <div class="row from-one-column">
                  <div class="col-md-6">
                    <div class=" row">
                      <label class="col-sm-5 col-form-label">ตำแหน่ง</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control">
                      </div>
                    </div>        
                  </div>                    
                </div>
                <!-- end -->
                <!-- Start -->
                <div class="row from-two-column">
                  <div class="col-md-6">
                    <div class=" row">
                      <label class="col-sm-5 col-form-label">จังหวัด. <span class="text-red">*</span> </label>
                      <div class="col-sm-7">
                        <select class="form-select" aria-label="Default select example">
                          <option selected="">กรุณาเลือก...</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                    </div>        
                  </div>
                  <div class="col-md-6">
                    <div class=" row">
                      <label class="col-sm-5 col-form-label">อำเภอ.<span class="text-red">*</span></label>
                      <div class="col-sm-7">
                        <select class="form-select" aria-label="Default select example">
                          <option selected="">กรุณาเลือก...</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                    </div>        
                  </div>
                </div>
                <!-- end -->
                <!-- Start -->
                <div class="row from-one-column">
                  <div class="col-md-6">
                    <div class=" row">
                      <label class="col-sm-5 col-form-label">อปท.<span class="text-red">*</span></label>
                      <div class="col-sm-7">
                        <select class="form-select" aria-label="Default select example">
                          <option selected="">กรุณาเลือก...</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                    </div>        
                  </div>
                  
                </div>
                <!-- end --> 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">บันทึก </button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end Modal -->  
        <div class="table-responsive">
          <table class="table table-hover bg-third">
              <thead>
                <tr class="bg-second">
                  <th width="5%">ลำดับ</th>
                  <th width="20%">ชื่อ</th>
                  <th width="20%" >นามสกลุ</th>
                  <th width="20%">ตำแหน่ง</th>
                  <th width="20%">สังกัด</th>
                  <th width="15%">สถานะผลการพิจารณา</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>รอการพิจารณา</td>
                </tr>
                <tr>
                  <td>2</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>รอการพิจารณา</td>
                </tr> 
              </tbody>
          </table>
        </div>        
      </div>
      <!-- end -->
      <!-- start -->
      <div class="title-local">
        <div class="row">
          <h5 class="title pe-3">สภาท้องถิ่นที่ถูกกล่าวหา <!--5--><a class="ps-2" data-bs-toggle="modal" data-bs-target="#local"><i class="fa-solid fa-circle-plus text-primary"></i></a>
        </h5></div>
        <!-- Modal -->
        <div class="modal fade" id="local" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">สภาท้องถิ่นที่ถูกกล่าวหา  </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                 <!-- Start -->
                 <div class="row from-two-column">
                  <div class="col-md-6">
                    <div class=" row">
                      <label class="col-sm-5 col-form-label">ชื่อสภาท้องถิ่น <span class="text-red">*</span>   </label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control">
                      </div>
                    </div>        
                  </div>
                  <div class="col-md-6">
                    <div class=" row">
                      <label class="col-sm-5 col-form-label">จังหวัด. <span class="text-red">*</span> </label>
                      <div class="col-sm-7">
                        <select class="form-select" aria-label="Default select example">
                          <option selected="">กรุณาเลือก...</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                    </div>        
                  </div>   
                </div>
                <!-- end -->                  
                <!-- Start -->
                <div class="row from-two-column">                    
                  <div class="col-md-6">
                    <div class=" row">
                      <label class="col-sm-5 col-form-label">อำเภอ.<span class="text-red">*</span></label>
                      <div class="col-sm-7">
                        <select class="form-select" aria-label="Default select example">
                          <option selected="">กรุณาเลือก...</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                    </div>        
                  </div>
                  <div class="col-md-6">
                    <div class=" row">
                      <label class="col-sm-5 col-form-label">อปท.<span class="text-red">*</span></label>
                      <div class="col-sm-7">
                        <select class="form-select" aria-label="Default select example">
                          <option selected="">กรุณาเลือก...</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                    </div>        
                  </div>
                  
                </div>
                <!-- end -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success">บันทึก </button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end Modal -->  
        <div class="table-responsive">
          <table class="table table-hover bg-third">
              <thead>
                <tr class="bg-second">
                  <th width="5%">ลำดับ</th>
                  <th width="20%">ชื่อสภาท้องถิ่น </th>
                  <th width="20%">จังหวัด</th>
                  <th width="20%">อำเภอ</th>
                  <th width="20%">ตำบล</th>
                  <th width="15%">สถานะผลการพิจารณา</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  
                  <td>1
                  </td><td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>รอการพิจารณา</td>
                </tr>
                <tr>
                  <td>2
                  </td><td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>รอการพิจารณา</td>
                </tr> 
              </tbody>
          </table>
        </div>
      </div>
      <!-- end -->
      <!-- Start -->
      <div class="row from-full">
        <div class="col-md-12">
          <div class=" row">
            <label class="col-sm-3 col-md-3 col-form-label note">หมายเหตุ</label>
            <div class="col-sm-9 col-md-9">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>        
        </div>            
      </div>
      <!-- end -->
        
        
      <!-- end -->
      <!-- start --> 
      <div class="card-footer  d-md-flex justify-content-md-end group-buttom-footer">
        <button type="button" class="btn btn-success mx-1" data-bs-toggle="modal" data-bs-target="#save">บันทึก</button>
        <div class="modal" id="save" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">              
              <div class="modal-body">
                <img src="./public/assets/images/save.png" class="img-fluid mx-auto d-block">
              </div>
              <div class="mx-auto d-block pt-2 pb-4">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">ยืนยัน  </button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-danger mx-1">ยกเลิก </button>             
      </div>
      <!-- end -->     

      
  </div>
   
  
  


 

</main>


@@include('./common/footer.html')