@@include('./common/header.html')


<main>
  <div class="container-xl title-head">
    <div class="row justify-content-between">
      <div class="col-auto">
        <h3 class="title">เพิ่มกลุ่มงานสำนวนคดี / สำนวนงานคดี   </h3>
      </div>
      
    </div>
    
    <h5>เงื่อนไขการค้นหา </h5>
    <div class="group-add">
      <!-- Start -->
      <div class="row">
        <div class="col-md-6">
          <div class=" row">
            <label  class="col-sm-5 col-form-label">รหัสสำนวน</label>
            <label  class="col-sm-7 col-form-label">02145</label>
          </div>        
        </div>        
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">เลขที่หนังสือรับ (กรม)    </label>
              <div class="col-sm-7">
                <input type="text" class="form-control">
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">วันที่รับหนังสือ (กรม)</label>
              <div class="col-sm-7">
                <div class="input-group date" id="receive-book">
                  <input type="text" class="form-control" id="date" value="">
                  <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>        
          </div>
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">เลขที่หนังสือรับ (กอง) </label>
              <div class="col-sm-7">
                <input type="text" class="form-control">
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">วันที่รับหนังสือ (กอง)</label>
              <div class="col-sm-7">
                <div class="input-group date" id="receive-book-department">
                  <input type="text" class="form-control" id="date" value="">
                  <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>        
          </div>
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">เลขที่หนังสือรับ (กลุ่มงาน)    </label>
              <div class="col-sm-7">
                <input type="text" class="form-control">
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">วันที่รับหนังสือรับ (กลุ่มงาน)</label>
              <div class="col-sm-7">
                <div class="input-group date" id="receive-book-grup">
                  <input type="text" class="form-control" id="date" value="">
                  <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>        
          </div>
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">เลขที่หนังสือ<span class="text-red">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control">
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">เลขที่รับหนังสือ<span class="text-red">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control">
              </div>
            </div>        
          </div>
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">ชั้นความเร็ว<span class="text-red">*</span></label>
              <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                  <option selected="">กรุณาเลือก...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">ชั้นความลับ<span class="text-red">*</span></label>
              <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                  <option selected="">กรุณาเลือก...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>        
          </div>
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">จาก<span class="text-red">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control">
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">หมายเลขโทรศัพท์ </label>
              <div class="col-sm-7">
                <input type="text" class="form-control">
              </div>
            </div>        
          </div>
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">เรื่อง<span class="text-red">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control">
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">เรียน<span class="text-red">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control">
              </div>
            </div>        
          </div>
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">ถึงหน่วยงาน<span class="text-red">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control">
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">เอกสารต้นฉบับ</label>
              <div class="col-sm-7">
                <input type="text" class="form-control">
              </div>
            </div>        
          </div>
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-12">
            <div class=" row">
              <label  class="col-sm-5 col-md-3 col-form-label note">หมายเหตุ</label>
              <div class="col-sm-7 col-md-9">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>        
          </div>
          
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">สิ่งที่ส่งมาด้วย </label>
              <div class="col-sm-7">
                <input type="file" class="form-control" id="customFile" />
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">อ้างถึง</label>
              <div class="col-sm-7">
                <input type="text" class="form-control">
              </div>
            </div>        
          </div>
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">วันที่บห.กอง รับเรื่อง </label>
              <div class="col-sm-7">
                <div class="input-group date" id="receive-story">
                  <input type="text" class="form-control" id="date" value="">
                  <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">วันที่เรื่องเสร็จ </label>
              <div class="col-sm-7">
                <div class="input-group date" id="finish-story">
                  <input type="text" class="form-control" id="date" value="">
                  <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
                
              </div>
            </div>        
          </div>
        </div>
        <!-- end -->
        
      </div>
    </div>
      <div class="row ">
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">สำนวน   </label>
              <div class="col-sm-7">
                <label  class=" col-form-label">คดี   </label>
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">สถานะสำนวน<span class="text-red">*</span></label>
              <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                  <option selected="">แสดงทั้งหมด</option>
                  <option value="1">อยู่ระหว่างดำเนินการ</option>
                  <option value="2">ดำเนินการเสร็จสิ้น</option>
                </select>
              </div>
            </div>        
          </div>
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">ประเภทเรื่อง<span class="text-red">*</span></label>
              <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                  <option selected="">แสดงทั้งหมด</option>
                  <option value="1">คดีปกครอง</option>
                  <option value="2">คดีแพ่ง</option>
                  <option value="3">คดีอาญา</option>
                  <option value="3">คดีอื่นๆ</option>
                </select>
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">ฟอรฺ์ม<span class="text-red">*</span></label>
              <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                  <option selected="">กรุณาเลือก...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                
              </div>
            </div>        
          </div>
        </div>
         <!-- end -->
         <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">แจ้งเตือนสำนวน</label>
              <div class="col-sm-7">
                <div class="input-group date" id="noti">
                  <input type="text" class="form-control" id="date" value="">
                  <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">แนบไฟล์  <span class="text-red">*</span></label>
              <div class="col-sm-7">
                <input type="file" class="form-control" id="customFile1">
                <a href="#" class="title">ดาวน์โหลด</a>
              </div>
            </div> 
                   
          </div>
        </div>
         <!-- end -->
      </div>
      <!-- Start -->
      <div class="">
        <div class="row">
          <h5 class="title pe-3">ผู้รับผิดชอบ </5><a class="ps-2" data-bs-toggle="modal" data-bs-target="#person"><i class="fa-solid fa-circle-plus text-primary"></i></a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="person" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">รายชื่อผู้รับผิดชอบ  </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="table-responsive">
                  <table class="table table-hover bg-third">
                    <thead>
                      <tr class="bg-second">
                        <th width="5%"><input class="form-check-input" type="checkbox" value=""></th>
                        <th>ลำดับ</th>
                        <th>ชื่อ</th>
                        <th>นามสกลุ</th>
                        <th>ตำแหน่ง</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input class="form-check-input" type="checkbox" value=""></th>
                        <td>1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input class="form-check-input" type="checkbox" value=""></th>
                        <td>2</th>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input class="form-check-input" type="checkbox" value=""></th>
                        <td>3</th>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Start -->
                <div class="row">
                  <div class="col-md-6">
                    <div class=" row">
                      <label class="col-sm-5 col-form-label">ชื่อจังหวัด  <span class="text-red">*</span>   </label>
                      <div class="col-sm-7">
                        <select class="form-select" aria-label="Default select example">
                          <option selected="">กรุณาเลือก...</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                    </div>        
                  </div>
                </div>                  
                <!-- end -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" >บันทึก </button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end Modal -->  
        <div class="table-responsive">
          <table class="table table-hover bg-third">
              <thead>
                <tr class="bg-second">                  
                  <th>ลำดับ</th>
                  <th>ชื่อ</th>
                  <th>นามสกลุ</th>
                  <th>ตำแหน่ง</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</th>
                  <td></td>
                  <td>dfdfdfdf</td>
                  <td></td>
                  <td width="10%">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">                    
                      <button class="btn btn-sm btn-icon btn-icon-only btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete"><i class="fa fa-trash-alt"></i></button>
                      <div class="modal" id="delete" tabindex="-1">
                        <div class="modal-dialog">
                          <div class="modal-content">              
                            <div class="modal-body">
                              <img src="./public/assets/images/delete.png" class="img-fluid mx-auto d-block">
                            </div>
                            <div class="mx-auto d-block pt-2 pb-4">
                              <button type="button" class="btn btn-primary">ยืนยัน  </button>
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>2</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td width="10%">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">                    
                      <button class="btn btn-sm btn-icon btn-icon-only btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete"><i class="fa fa-trash-alt"></i></button>
                      <div class="modal" id="delete" tabindex="-1">
                        <div class="modal-dialog">
                          <div class="modal-content">              
                            <div class="modal-body">
                              <img src="./public/assets/images/delete.png" class="img-fluid mx-auto d-block">
                            </div>
                            <div class="mx-auto d-block pt-2 pb-4">
                              <button type="button" class="btn btn-primary">ยืนยัน  </button>
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr> 
              </tbody>
          </table>
        </div>
      </div>
      <!-- end -->
      
       <!-- Start -->
       <div class="">
        <div class="row">
          <h5 class="title pe-3">การดำเนินการ  </5>
        </div>       
        <div class="group-search">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">                    
            <button class="btn btn-sm btn-icon btn-icon-only btn-warning" type="button"><i class="fa fa-edit"></i></button>
          </div>
          <!-- Start -->
          <div class="row">
            <div class="col-md-6">
              <div class=" row">
                <label class="col-sm-5 col-form-label">การดำเนินการ<span class="text-red">*</span></label>
                <div class="col-sm-7">
                  <select class="form-select" aria-label="Default select example">
                    <option selected="">ก่อนพิจารณาคดี</option>
                    <option value="1">เริ่มพิจารณาคดี  (อาญา)</option>
                    <option value="2">ระหว่างพิจารณาคดี  (อาญา)</option>
                    <option value="3">คดีเสร็จสิ้น</option>
                  </select>
                </div>
              </div>        
            </div>            
          </div>
          <!-- end -->  
          <!-- Start -->
          <div class="row">
            <div class="col-md-12">
              <div class=" row">
                <label class="col-sm-5 col-md-3 col-form-label note">รายละเอียด</label>
                <div class="col-sm-7 col-md-9">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </div>        
            </div>            
          </div>
          <!-- end -->
          <!-- Start -->
          <div class="row">
            <div class="col-md-6">
              <div class=" row">
                <label class="col-sm-5 col-form-label">วดป ที่ดำเนินการ <span class="text-red">*</span> </label>
                <div class="col-sm-7">
                  <div class="input-group date" id="action">
                    <input type="text" class="form-control" id="date" value="">
                    <span class="input-group-append">
                      <span class="input-group-text bg-light d-block">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>        
            </div>
            <div class="col-md-6">
              <div class=" row">
                <div class="col-sm-5">
                  <div class="form-check mt-2">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      แจ้งเตือนการดำเนินการ
                    </label>
                  </div>
                </div>                
                <div class="col-sm-7">
                  <div class="input-group date" id="alert">
                    <input type="text" class="form-control" id="date" value="">
                    <span class="input-group-append">
                      <span class="input-group-text bg-light d-block">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>        
            </div>
          </div>
          <!-- end --> 
          <!-- Start -->
          <div class="row">            
            <div class="col-md-6">
              <div class=" row">
                <label class="col-sm-5 col-form-label">แนบไฟล์  <span class="text-red">*</span></label>
                <div class="col-sm-7">
                  <input type="file" class="form-control" id="customFile1">
                </div>
              </div>        
            </div>
          </div>  
          <!-- end -->    
        </div>
      </div>
      <!-- end -->
      <!-- start -->
        <a href=""><i class="fa-solid fa-circle-plus mx-2 fs-4"></i></a>
        
        
      <!-- end -->
      <!-- start --> 
      <div class="card-footer  d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-success mx-1" data-bs-toggle="modal" data-bs-target="#save">บันทึก</button>
        <div class="modal" id="save" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">              
              <div class="modal-body">
                <img src="./public/assets/images/save.png" class="img-fluid mx-auto d-block">
              </div>
              <div class="mx-auto d-block pt-2 pb-4">
                <button type="button" class="btn btn-primary">ยืนยัน  </button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-danger mx-1">ยกเลิก </button>
        <button type="button" class="btn btn-warning mx-1">Timeline  </button>        
      </div>
      <!-- end -->
      <!-- start --> 
      <div class="card-footer  d-md-flex justify-content-md-end">        
        <button type="button" class="btn btn-success mx-1" data-bs-toggle="modal" data-bs-target="#return"">คืนเรื่อง </button>
        <div class="modal fade" id="return" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">คืนเรื่อง  </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="group-search">
                  <div class="row">     
                </div>
                             
                  <!-- Start -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class=" row">
                        <label class="col-sm-5 col-form-label">เลขอ้างอิง  <span class="text-red">*</span>   </label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control">
                        </div>
                      </div>        
                    </div>
                    <div class="col-md-6">
                      <div class=" row">
                        <label class="col-sm-5 col-form-label">เลขที่หนังสือ<span class="text-red">*</span></label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control">
                        </div>
                      </div>        
                    </div>
                  </div>
                  <!-- end -->
                  <!-- Start -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class=" row">
                        <label class="col-sm-3 col-form-label note">เหตุผลการคืนเรื่อง</label>
                        <div class="col-sm-9">
                          <textarea type="text" class="form-control"></textarea>
                        </div>
                      </div>        
                    </div>                    
                  </div>
                  <!-- end -->
                 
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success">บันทึก </button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->

      ตัวอย่างการดำเนินงานตาม คดีปกครอง / คดีแพ่ง 

      <!-- start -->
      <div class="group-search">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">                    
          <button class="btn btn-sm btn-icon btn-icon-only btn-warning" type="button"><i class="fa fa-edit"></i></button>
        </div>
        <!-- Start -->
        <div class="row">          
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">การดำเนินการ<span class="text-red">*</span></label>
              <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                  <option selected="">ก่อนการพิจารณาคดี </option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>        
          </div>            
        </div>
        <!-- end -->  
        <!-- Start -->
        <div class="row">
          <div class="col-md-12">
            <div class=" row">
              <label class="col-sm-5 col-md-3 col-form-label note">เสนอ</label>
              <div class="col-sm-7 col-md-9">
                <input class="form-control" type="text">
              </div>
            </div>        
          </div>            
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-12">
            <div class=" row">
              <label class="col-sm-5 col-md-3 col-form-label note">หมายเหตุ</label>
              <div class="col-sm-7 col-md-9">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>        
          </div>            
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">วดป ที่ดำเนินการ <span class="text-red">*</span> </label>
              <div class="col-sm-7">
                <div class="input-group date" id="action1">
                  <input type="text" class="form-control" id="date" value="">
                  <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <div class="col-sm-5">
                <div class="form-check mt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    แจ้งเตือนการดำเนินการ
                  </label>
                </div>
              </div>                
              <div class="col-sm-7">
                <div class="input-group date" id="alert1">
                  <input type="text" class="form-control" id="date" value="">
                  <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>        
          </div>
        </div>
        <!-- end --> 
        <!-- Start -->
        <div class="row">            
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">แนบไฟล์  <span class="text-red">*</span></label>
              <div class="col-sm-7">
                <input type="file" class="form-control" id="customFile1">
              </div>
            </div>        
          </div>
        </div>  
        <!-- end -->    
      </div>
      <!-- end -->      
      
       <!-- start -->
       <div class="group-search">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">                    
          <button class="btn btn-sm btn-icon btn-icon-only btn-warning" type="button"><i class="fa fa-edit"></i></button>
        </div>
        <!-- Start -->
        <div class="row">          
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">การดำเนินการ<span class="text-red">*</span></label>
              <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                  <option selected="">เริ่มพิจารณาคดี  (คดีอาญา)</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>        
          </div>            
        </div>
        <!-- end -->  
        <!-- start -->
        <div class="">
          <div class="row">
            <h5 class="title pe-3">โจทก์/ผู้ฟ้อง   <a class="ps-2" data-bs-toggle="modal" data-bs-target="#plaintiff"><i class="fa-solid fa-circle-plus text-primary"></i></a></h5>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="plaintiff" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">โจทก์/ผู้ฟ้อง </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row">  
                    <!-- Start -->
                    <div class="row">
                      <div class="col-md-12">
                        <div class=" row">
                          <label class="col-sm-3 col-form-label note">ประเภทโจทก์<span class="text-red">*</span>   </label>
                          <div class="col-sm-9">
                            <div class="form-check form-check-inline col-form-label">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                              <label class="form-check-label" for="inlineRadio1">บุคคล</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                              <label class="form-check-label" for="inlineRadio2">หน่วยงาน</label>
                            </div>
                          </div>
                        </div>        
                      </div>                      
                    </div>
                    <!-- end -->                
                    <!-- Start -->
                    <div class="row">
                      <div class="col-md-6">
                        <div class=" row">
                          <label class="col-sm-5 col-form-label">ชื่อ<span class="text-red">*</span>   </label>
                          <div class="col-sm-7">
                            <input type="text" class="form-control">
                          </div>
                        </div>        
                      </div>
                      <div class="col-md-6">
                        <div class=" row">
                          <label class="col-sm-5 col-form-label">นามสกุล<span class="text-red">*</span></label>
                          <div class="col-sm-7">
                            <input type="text" class="form-control">
                          </div>
                        </div>        
                      </div>
                    </div>
                    <!-- end -->
                    <!-- Start -->
                    <div class="row">
                      <div class="col-md-6">
                        <div class=" row">
                          <label class="col-sm-5 col-form-label">ประเภทหน่วยงาน<span class="text-red">*</span></label>
                          <div class="col-sm-7">
                            <select class="form-select" aria-label="Default select example">
                              <option selected="">สถ.</option>
                              <option value="1">สถจ.</option>
                              <option value="2">สถอ.</option>
                              <option value="3">อปท.</option>
                              <option value="4">หน่วยงานภายนอก</option>
                            </select>
                          </div>
                        </div>        
                      </div> 
                      <div class="col-md-6">
                        <div class=" row">
                          <label class="col-sm-5 col-form-label">ชื่อหน่วยงาน<span class="text-red">*</span></label>
                          <div class="col-sm-7">
                            <input type="text" class="form-control">
                          </div>
                        </div>        
                      </div>                      
                    </div>
                    
                    <!-- end -->
                    <!-- Start -->
                    <div class="row">
                      <div class="col-md-6">
                        <div class=" row">
                          <label class="col-sm-5 col-form-label">จังหวัด<span class="text-red">*</span></label>
                          <div class="col-sm-7">
                            <select class="form-select" aria-label="Default select example">
                              <option selected="">กรุณาเลือก..</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                        </div>        
                      </div> 
                      <div class="col-md-6">
                        <div class=" row">
                          <label class="col-sm-5 col-form-label">อำเภอ<span class="text-red">*</span></label>
                          <div class="col-sm-7">
                            <select class="form-select" aria-label="Default select example">
                              <option selected="">กรุณาเลือก..</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                        </div>        
                      </div>                      
                    </div>
                    
                    <!-- end -->
                    <!-- Start -->
                    <div class="row">
                      <div class="col-md-6">
                        <div class=" row">
                          <label class="col-sm-5 col-form-label">อทป.<span class="text-red">*</span></label>
                          <div class="col-sm-7">
                            <select class="form-select" aria-label="Default select example">
                              <option selected="">กรุณาเลือก..</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                        </div>        
                      </div>                                     
                    </div>
                    
                    <!-- end -->
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success">บันทึก </button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                </div>
              </div>
            </div>
          </div>
          <!-- end Modal -->  
          <div class="table-responsive">
            <table class="table table-hover bg-third">
                <thead>
                  <tr class="bg-second">                  
                    <th>ลำดับ</th>                    
                    <th>ชื่อ-สกุล </th>
                    <th>ชื่อหน่วยงาน</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>dfdfdfdf</td>
                    <td></td>
                    <td width="10%">
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">                    
                        <button class="btn btn-sm btn-icon btn-icon-only btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete"><i class="fa fa-trash-alt"></i></button>
                        <div class="modal" id="delete" tabindex="-1">
                          <div class="modal-dialog">
                            <div class="modal-content">              
                              <div class="modal-body">
                                <img src="./public/assets/images/delete.png" class="img-fluid mx-auto d-block">
                              </div>
                              <div class="mx-auto d-block pt-2 pb-4">
                                <button type="button" class="btn btn-primary">ยืนยัน  </button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td width="10%">
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">                    
                        <button class="btn btn-sm btn-icon btn-icon-only btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete"><i class="fa fa-trash-alt"></i></button>
                        <div class="modal" id="delete" tabindex="-1">
                          <div class="modal-dialog">
                            <div class="modal-content">              
                              <div class="modal-body">
                                <img src="./public/assets/images/delete.png" class="img-fluid mx-auto d-block">
                              </div>
                              <div class="mx-auto d-block pt-2 pb-4">
                                <button type="button" class="btn btn-primary">ยืนยัน  </button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr> 
                </tbody>
            </table>
          </div>
        </div>
        <!-- end -->
        <!-- start -->
        <div class="">
          <div class="row">
            <h5 class="title pe-3">จำเลย/ผู้ถูกฟ้อง   <a class="ps-2" data-bs-toggle="modal" data-bs-target="#defendant"><i class="fa-solid fa-circle-plus text-primary"></i></a></h5>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="defendant" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">จำเลย/ผู้ถูกฟ้อง </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row">  
                    <!-- Start -->
                    <div class="row">
                      <div class="col-md-12">
                        <div class=" row">
                          <label class="col-sm-3 col-form-label note">ประเภทจำเลย/ผู้ถูกฟ้อง <span class="text-red">*</span>   </label>
                          <div class="col-sm-9">
                            <div class="form-check form-check-inline col-form-label">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                              <label class="form-check-label" for="inlineRadio1">บุคคล</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                              <label class="form-check-label" for="inlineRadio2">หน่วยงาน</label>
                            </div>
                          </div>
                        </div>        
                      </div>                      
                    </div>
                    <!-- end -->                
                    <!-- Start -->
                    <div class="row">
                      <div class="col-md-6">
                        <div class=" row">
                          <label class="col-sm-5 col-form-label">ชื่อ<span class="text-red">*</span>   </label>
                          <div class="col-sm-7">
                            <input type="text" class="form-control">
                          </div>
                        </div>        
                      </div>
                      <div class="col-md-6">
                        <div class=" row">
                          <label class="col-sm-5 col-form-label">นามสกุล<span class="text-red">*</span></label>
                          <div class="col-sm-7">
                            <input type="text" class="form-control">
                          </div>
                        </div>        
                      </div>
                    </div>
                    <!-- end -->
                    <!-- Start -->
                    <div class="row">
                      <div class="col-md-6">
                        <div class=" row">
                          <label class="col-sm-5 col-form-label">ประเภทหน่วยงาน<span class="text-red">*</span></label>
                          <div class="col-sm-7">
                            <select class="form-select" aria-label="Default select example">
                              <option selected="">สถ.</option>
                              <option value="1">สถจ.</option>
                              <option value="2">สถอ.</option>
                              <option value="3">อปท.</option>
                              <option value="4">หน่วยงานภายนอก</option>
                            </select>
                          </div>
                        </div>        
                      </div> 
                      <div class="col-md-6">
                        <div class=" row">
                          <label class="col-sm-5 col-form-label">ชื่อหน่วยงาน<span class="text-red">*</span></label>
                          <div class="col-sm-7">
                            <input type="text" class="form-control">
                          </div>
                        </div>        
                      </div>                      
                    </div>
                    
                    <!-- end -->
                    <!-- Start -->
                    <div class="row">
                      <div class="col-md-6">
                        <div class=" row">
                          <label class="col-sm-5 col-form-label">จังหวัด<span class="text-red">*</span></label>
                          <div class="col-sm-7">
                            <select class="form-select" aria-label="Default select example">
                              <option selected="">กรุณาเลือก..</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                        </div>        
                      </div> 
                      <div class="col-md-6">
                        <div class=" row">
                          <label class="col-sm-5 col-form-label">อำเภอ<span class="text-red">*</span></label>
                          <div class="col-sm-7">
                            <select class="form-select" aria-label="Default select example">
                              <option selected="">กรุณาเลือก..</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                        </div>        
                      </div>                      
                    </div>
                    
                    <!-- end -->
                    <!-- Start -->
                    <div class="row">
                      <div class="col-md-6">
                        <div class=" row">
                          <label class="col-sm-5 col-form-label">อทป.<span class="text-red">*</span></label>
                          <div class="col-sm-7">
                            <select class="form-select" aria-label="Default select example">
                              <option selected="">กรุณาเลือก..</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                        </div>        
                      </div>                                     
                    </div>
                    
                    <!-- end -->
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success">บันทึก </button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                </div>
              </div>
            </div>
          </div>
          <!-- end Modal -->  
          <div class="table-responsive">
            <table class="table table-hover bg-third">
                <thead>
                  <tr class="bg-second">                  
                    <th>ลำดับ</th>                    
                    <th>ชื่อ-สกุล </th>
                    <th>ชื่อหน่วยงาน</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>dfdfdfdf</td>
                    <td></td>
                    <td width="10%">
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">                    
                        <button class="btn btn-sm btn-icon btn-icon-only btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete"><i class="fa fa-trash-alt"></i></button>
                        <div class="modal" id="delete" tabindex="-1">
                          <div class="modal-dialog">
                            <div class="modal-content">              
                              <div class="modal-body">
                                <img src="./public/assets/images/delete.png" class="img-fluid mx-auto d-block">
                              </div>
                              <div class="mx-auto d-block pt-2 pb-4">
                                <button type="button" class="btn btn-primary">ยืนยัน  </button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td width="10%">
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">                    
                        <button class="btn btn-sm btn-icon btn-icon-only btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete"><i class="fa fa-trash-alt"></i></button>
                        <div class="modal" id="delete" tabindex="-1">
                          <div class="modal-dialog">
                            <div class="modal-content">              
                              <div class="modal-body">
                                <img src="./public/assets/images/delete.png" class="img-fluid mx-auto d-block">
                              </div>
                              <div class="mx-auto d-block pt-2 pb-4">
                                <button type="button" class="btn btn-primary">ยืนยัน  </button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr> 
                </tbody>
            </table>
          </div>
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">ชั้นศาล    </label>
              <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                  <option selected>01</option>
                  <option value="1">02</option>
                </select>
              </div>
            </div>        
          </div>   
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">ศาล       </label>
              <div class="col-sm-7">
                <input class="form-control" type="text" >
              </div>
            </div>        
          </div>            
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">คดีหมายเลขดำ   </label>
              <div class="col-sm-7 ">
                <input class="form-control" type="text" >
              </div>
            </div>        
          </div>                     
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">เรื่อง/ฐานความผิด   </label>
              <div class="col-sm-7 ">
                <input class="form-control" type="text" >
              </div>
            </div>        
          </div>  
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">คำสั่งศาล </label>
              <div class="col-sm-7 ">
                <input class="form-control" type="text" >
              </div>
            </div>        
          </div>               
        </div>
        <!-- end -->
        
        <!-- Start -->
        <div class="row">
          <div class="col-md-12">
            <div class=" row">
              <label class="col-sm-3 col-form-label note">รายละเอียด</label>
              <div class="col-sm-9 ">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>        
          </div>            
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">วดป ที่ดำเนินการ <span class="text-red">*</span> </label>
              <div class="col-sm-7">
                <div class="input-group date" id="action2">
                  <input type="text" class="form-control" id="date" value="">
                  <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <div class="col-sm-5">
                <div class="form-check mt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    แจ้งเตือนการดำเนินการ
                  </label>
                </div>
              </div>                
              <div class="col-sm-7">
                <div class="input-group date" id="alert2">
                  <input type="text" class="form-control" id="date" value="">
                  <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>        
          </div>
        </div>
        <!-- end --> 
        <!-- Start -->
        <div class="row">            
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">แนบไฟล์  <span class="text-red">*</span></label>
              <div class="col-sm-7">
                <input type="file" class="form-control" id="customFile1">
              </div>
            </div>        
          </div>
        </div>  
        <!-- end -->    
      </div>
      <!-- end -->
      <!-- start -->
      <div class="group-search">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">                    
          <button class="btn btn-sm btn-icon btn-icon-only btn-warning" type="button"><i class="fa fa-edit"></i></button>
        </div>
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">การดำเนินการ<span class="text-red">*</span></label>
              <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                  <option selected="">ระหว่างพิจารณา (คดีอาญา)</option>                 
                </select>
              </div>
            </div>        
          </div>  
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">คำสั่งศาล</label>
              <label class="col-sm-7 col-form-label">Default ต่อจากเริ่มพิจารณา</label>
            </div>        
          </div>               
        </div>
        <!-- end -->  
        <!-- Start -->
        <div class="row">
          <div class="col-md-12">
            <div class=" row">
              <label class="col-sm-5 col-md-3 col-form-label note">รายละเอียด</label>
              <div class="col-sm-7 col-md-9">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>        
          </div>            
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">วดป ที่ดำเนินการ <span class="text-red">*</span> </label>
              <div class="col-sm-7">
                <div class="input-group date" id="action3">
                  <input type="text" class="form-control" id="date" value="">
                  <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <div class="col-sm-5">
                <div class="form-check mt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    แจ้งเตือนการดำเนินการ
                  </label>
                </div>
              </div>                
              <div class="col-sm-7">
                <div class="input-group date" id="alert3">
                  <input type="text" class="form-control" id="date" value="">
                  <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>        
          </div>
        </div>
        <!-- end --> 
        <!-- Start -->
        <div class="row">            
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">แนบไฟล์  <span class="text-red">*</span></label>
              <div class="col-sm-7">
                <input type="file" class="form-control" id="customFile1">
              </div>
            </div>        
          </div>
        </div>  
        <!-- end -->    
      </div>
      <!-- end -->
      <!-- start -->
      <div class="group-search">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">                    
          <button class="btn btn-sm btn-icon btn-icon-only btn-warning" type="button"><i class="fa fa-edit"></i></button>
        </div>
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">การดำเนินการ<span class="text-red">*</span></label>
              <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                  <option selected="">คดีเสร็จสิ้น</option>                 
                </select>
              </div>
            </div>        
          </div>  
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">คำสั่งศาล</label>
              <label class="col-sm-7 col-form-label">Default ต่อจากเริ่มพิจารณา</label>
            </div>        
          </div>               
        </div>
        <!-- end -->  
         <!-- Start -->
         <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">คดีหมายเลขแดง<span class="text-red">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control">
              </div>
            </div>        
          </div>                      
        </div>
        <!-- end -->  
        <!-- Start -->
        <div class="row">
          <div class="col-md-12">
            <div class=" row">
              <label class="col-sm-5 col-md-3 col-form-label note">คำพิพากษา/คำสั่ง</label>
              <div class="col-sm-7 col-md-9">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>        
          </div>            
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">เจ้าหน้าที่ดำเนินการ</label>
              <div class="col-sm-7">
                <input type="text" class="form-control">
              </div>
            </div>        
          </div>                        
        </div>
        <!-- end -->  
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">วดป ที่ดำเนินการ <span class="text-red">*</span> </label>
              <div class="col-sm-7">
                <div class="input-group date" id="action4">
                  <input type="text" class="form-control" id="date" value="">
                  <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <div class="col-sm-5">
                <div class="form-check mt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    แจ้งเตือนการดำเนินการ
                  </label>
                </div>
              </div>                
              <div class="col-sm-7">
                <div class="input-group date" id="alert4">
                  <input type="text" class="form-control" id="date" value="">
                  <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>        
          </div>
        </div>
        <!-- end --> 
        <!-- Start -->
        <div class="row">            
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">แนบไฟล์  <span class="text-red">*</span></label>
              <div class="col-sm-7">
                <input type="file" class="form-control" id="customFile1">
              </div>
            </div>        
          </div>
        </div>  
        <!-- end -->    
      </div>
      <!-- end -->
      <!-- start -->
      <div class="group-send-file">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">                            
          <button class="btn btn-sm btn-icon btn-icon-only btn-warning" type="button"><i class="fa fa-edit"></i></button>
          <button class="btn btn-sm btn-icon btn-icon-only btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete"><i class="fa fa-trash-alt"></i></button>
          <div class="modal" id="delete" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">              
                <div class="modal-body">
                  <img src="./public/assets/images/delete.png" class="img-fluid mx-auto d-block">
                </div>
                <div class="mx-auto d-block pt-2 pb-4">
                  <button type="button" class="btn btn-primary">ยืนยัน  </button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                </div>
              </div>
            </div>
          </div>
      </div>
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">การดำเนินการ<span class="text-red">*</span></label>
              <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                  <option selected="">สถจ. ส่งเอกสารเพิ่ม</option>                 
                </select>
              </div>
            </div>        
          </div>                        
        </div>
        <!-- end -->  
        <!-- Start -->
        <div class="row">
          <div class="col-md-12">
            <div class=" row">
              <label class="col-sm-5 col-md-3 col-form-label note">รายละเอียด</label>
              <div class="col-sm-7 col-md-9">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>        
          </div>            
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row">
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">วดป ที่ดำเนินการ <span class="text-red">*</span> </label>
              <div class="col-sm-7">
                <div class="input-group date" id="action5">
                  <input type="text" class="form-control" id="date" value="">
                  <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>        
          </div>
          <div class="col-md-6">
            <div class=" row">
              <div class="col-sm-5">
                <div class="form-check mt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    แจ้งเตือนการดำเนินการ
                  </label>
                </div>
              </div>                
              <div class="col-sm-7">
                <div class="input-group date" id="alert5">
                  <input type="text" class="form-control" id="date" value="">
                  <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>        
          </div>
        </div>
        <!-- end --> 
        <!-- Start -->
        <div class="row">            
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">แนบไฟล์  <span class="text-red">*</span></label>
              <div class="col-sm-7">
                <input type="file" class="form-control" id="customFile1">
              </div>
            </div>        
          </div>
        </div>  
        <!-- end -->    
      </div>
      <!-- end -->
      
  </div>
   
  
  


 

</main>


@@include('./common/footer.html')