@@include('./common/header.html')


<main>
  
  <div class="container-xl title-head">
    <div class="row justify-content-between">
      <div class="col-auto">
        <h3 class="title">เพิ่มเรื่อง / บริหารจัดการสำนวนด้าน จัดตั้ง เปลี่ยน ยุบฯ     </h3>
      </div>
      
    </div>
    <div class="row from-two-column">                  
      <!-- Start -->
      <div class="row">
        <div class="col-md-6">
          <div class=" row">
            <label class="col-sm-5 col-form-label">ประเภทเรื่อง<span class="text-red">*</span>   </label>
            <div class="col-sm-7">
              <select class="form-select" aria-label="Default select example">
                <option selected="">กรุณาเลือก...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>        
        </div>
        <div class="col-md-6">
          <div class=" row">
            <label class="col-sm-5 col-form-label">เรื่อง<span class="text-red">*</span></label>
            <div class="col-sm-7">
              <select class="form-select" aria-label="Default select example">
                <option selected="">กรุณาเลือก...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>        
        </div>
      </div>
      <!-- end -->
      <!-- Start -->
<div class="title-action">
<div class="row">
<h6 class="title pe-3">การดำเนินการ  </h6>
</div>       
<div class="group-search">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">                    
    <button class="btn btn-sm btn-icon btn-icon-only btn-warning" type="button"><i class="fa fa-edit"></i></button>
  </div>
  <!-- Start -->
  <div class="row from-one-column">
    <div class="col-md-6">
      <div class=" row">
        <label class="col-sm-5 col-form-label">การดำเนินการ<span class="text-red">*</span></label>
        <div class="col-sm-7">
          <select class="form-select" aria-label="Default select example">
            <option selected="">เจ้าหน้าที่ดำเนินการ</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>        
    </div>            
  </div>
  <!-- end -->  
  <!-- Start -->
  <div class="row from-full">
    <div class="col-md-12">
      <div class=" row">
        <label class="col-sm-5 col-md-3 col-form-label note">รายละเอียด</label>
        <div class="col-sm-7 col-md-9">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>        
    </div>            
  </div>
  <!-- end -->
  <!-- Start -->
  <div class="row from-two-column">
    <div class="col-md-6 from-date">
      <div class=" row">
        <label class="col-sm-5 col-form-label">วดป ที่ดำเนินการ <span class="text-red">*</span> </label>
        <div class="col-sm-7">
          <div class="input-group date" id="action">
            <input type="text" class="form-control" id="date" value="">
            <span class="input-group-append">
              <span class="input-group-text bg-light d-block">
                <i class="fa fa-calendar"></i>
              </span>
            </span>
          </div>
        </div>
      </div>        
    </div>
    <div class="col-md-6">
      <div class=" row">
        <div class="col-sm-5">
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              แจ้งเตือนการดำเนินการ
            </label>
          </div>
        </div>                
        <div class="col-sm-7">
          <div class="input-group date" id="alert">
            <input type="text" class="form-control" id="date" value="">
            <span class="input-group-append">
              <span class="input-group-text bg-light d-block">
                <i class="fa fa-calendar"></i>
              </span>
            </span>
          </div>
        </div>
      </div>        
    </div>
  </div>
  <!-- end --> 
  <!-- Start -->
  <div class="row from-one-column">            
    <div class="col-md-6 attach-file">
      <div class=" row">
        <label class="col-sm-5 col-form-label">แนบไฟล์  <span class="text-red">*</span></label>
        <div class="col-sm-7">
          <input type="file" class="form-control" id="customFile1">
        </div>
      </div>        
    </div>
  </div>  
  <!-- end -->    
</div>
</div>
<!-- end -->
<!-- start -->
<a href=""><i class="fa-solid fa-circle-plus mx-2 fs-4"></i></a>
<!-- end -->


ตัวอย่างการดำเนินงานตาม type
      
<div class="group-search">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">                    
    <button class="btn btn-sm btn-icon btn-icon-only btn-warning" type="button"><i class="fa fa-edit"></i></button>
  </div>
  <!-- Start -->
  <div class="row from-one-column">          
    <div class="col-md-6">
      <div class=" row">
        <label class="col-sm-5 col-form-label">การดำเนินการ<span class="text-red">*</span></label>
        <div class="col-sm-7">
          <select class="form-select" aria-label="Default select example">
            <option selected="">เสนอเรื่อง</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>        
    </div>            
  </div>
  <!-- end -->  
  <!-- Start -->
  <div class="row from-full">
    <div class="col-md-12">
      <div class=" row">
        <label class="col-sm-5 col-md-3 col-form-label note">เสนอ</label>
        <div class="col-sm-7 col-md-9">
          <input class="form-control" type="text">
        </div>
      </div>        
    </div>            
  </div>
  <!-- end -->
  <!-- Start -->
  <div class="row from-full">
    <div class="col-md-12">
      <div class=" row">
        <label class="col-sm-5 col-md-3 col-form-label note">รายละเอียด</label>
        <div class="col-sm-7 col-md-9">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>        
    </div>            
  </div>
  <!-- end -->
  <!-- Start -->
  <div class="row from-two-column">
    <div class="col-md-6 from-date">
      <div class=" row">
        <label class="col-sm-5 col-form-label">วดป ที่ดำเนินการ <span class="text-red">*</span> </label>
        <div class="col-sm-7">
          <div class="input-group date" id="action1">
            <input type="text" class="form-control" id="date" value="">
            <span class="input-group-append">
              <span class="input-group-text bg-light d-block">
                <i class="fa fa-calendar"></i>
              </span>
            </span>
          </div>
        </div>
      </div>        
    </div>
    <div class="col-md-6">
      <div class=" row">
        <div class="col-sm-5">
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              แจ้งเตือนการดำเนินการ
            </label>
          </div>
        </div>                
        <div class="col-sm-7">
          <div class="input-group date" id="alert1">
            <input type="text" class="form-control" id="date" value="">
            <span class="input-group-append">
              <span class="input-group-text bg-light d-block">
                <i class="fa fa-calendar"></i>
              </span>
            </span>
          </div>
        </div>
      </div>        
    </div>
  </div>
  <!-- end --> 
  <!-- Start -->
  <div class="row from-one-column">            
    <div class="col-md-6 attach-file">
      <div class=" row">
        <label class="col-sm-5 col-form-label">แนบไฟล์  <span class="text-red">*</span></label>
        <div class="col-sm-7">
          <input type="file" class="form-control" id="customFile1">
        </div>
      </div>        
    </div>
  </div>  
  <!-- end -->    
</div>
<!-- start --> 
<div class="card-footer  d-md-flex justify-content-md-end group-buttom-save">
  <button type="button" class="btn btn-success mx-1" data-bs-toggle="modal" data-bs-target="#save">บันทึก</button>
  <div class="modal" id="save" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">              
        <div class="modal-body">
          <img src="./public/assets/images/save.png" class="img-fluid mx-auto d-block">
        </div>
        <div class="mx-auto d-block pt-2 pb-4">
          <button type="button" class="btn btn-primary">ยืนยัน  </button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-danger mx-1">ยกเลิก </button>
      
</div>
<!-- end -->
    </div>    

      
  </div>
   
  
  


 

</main>


@@include('./common/footer.html')