@@include('./common/header.html')



<main>
    <div class="container-xl title-head">
      <div class="row justify-content-between">
        <div class="col-auto">
          <h3 class="title">ระบบสืบค้น</h3>
        </div>             
      </div>
      
      
      <div class="group-add">
        <!-- Start -->
        <div class="row from-full">
          <div class="col-md-12">
            <div class=" row">
              <label  class="col-sm-3 col-form-label note">หมวดหมู่</label>
              <div class="col-sm-9">
                <input type="text" class="form-control">
              </div>
            </div>        
          </div>
          
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row from-one-column">          
          <div class="col-md-6">
            <div class=" row">
              <label class="col-sm-5 col-form-label">รูปภาพ  <span class="text-red">*</span></label>
              <div class="col-sm-7">
                <input type="file" class="form-control" id="customFile1">
              </div>
            </div>       
          </div>
        </div>
        <!-- end -->
        <!-- Start -->
        <div class="row from-full main-category">
          <div class="col-md-12">
            <div class=" row">
              <label  class="col-sm-5 col-form-label note">หมวดหลัก</label>
              <div class="col-sm-7">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#main_category">เพิ่มหมวดหลัก</button>
                <div class="modal" id="main_category" tabindex="-1">
                  <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">เพิ่มหมวดหลัก </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>              
                      <div class="modal-body">
                        <!-- Start -->
                        <div class="col-md-12">
                          <div class=" row">
                            <label class="col-sm-5 col-form-label">หมวดหมู่ <span class="text-red">*</span></label>
                            <label  class="col-sm-5 col-form-label">หมวดหมู่ A</label>
                          </div>        
                        </div>    
                        <div class="row mt-2">          
                          <div class="col-md-12">
                            <div class=" row">
                              <label  class="col-sm-5 col-form-label">หมวดหลัก</label>
                              <div class="col-sm-7">
                                <input type="text" class="form-control">
                              </div>
                            </div>        
                          </div>
                                        
                        </div>
                        <!-- end -->
                      </div>   
                      <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">บันทึก </button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                      </div>                             
                    </div>
                  </div>
                </div>
              </div>
            </div>        
          </div>          
        </div>
        <!-- end -->
        <div class="table-responsive">
          <table class="table table-hover">
              <thead>
              <tr class="bg-green3 text-white">
                  <th scope="col">ลำดับ</th>
                  <th scope="col">หมวดหลัก</th>
                  <th scope="col"></th>
              </tr>
    
              </thead>
              <tbody>
              <tr> 
                  <td></td>
                  <td>1.1.1</td>
                  <td width="10%">
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end group-btn-table">
                          <button class="btn btn-sm btn-icon btn-icon-only btn-primary" type="button" ><i class="fa fa-search"></i></button>                      
                          <button class="btn btn-sm btn-icon btn-icon-only btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#add"><i class="fa fa-edit"></i></button>
                          <div class="modal" id="add" tabindex="-1">
                            <div class="modal-dialog modal-xl">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">แก้ไขหมวดหลัก </h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>              
                                <div class="modal-body">
                                  <!-- Start -->
                                  <div class="row mt-2">          
                                    <div class="col-md-12">
                                      <div class=" row">
                                        <label  class="col-sm-5 col-form-label">ชื่อหมวดหลัก</label>
                                        <div class="col-sm-7">
                                          <input type="text" class="form-control">
                                        </div>
                                      </div>        
                                    </div>
                                    <div class="col-md-12">
                                      <div class=" row">
                                        <label class="col-sm-5 col-form-label">แนบไฟล์  <span class="text-red">*</span></label>
                                        <div class="col-sm-7">
                                          <input type="file" class="form-control" id="customFile1">
                                        </div>
                                      </div>        
                                    </div>                  
                                  </div>
                                  <!-- end -->
                                </div>   
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-success" data-bs-dismiss="modal">บันทึก </button>
                                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                                </div>                             
                              </div>
                            </div>
                          </div>
                          <button class="btn btn-sm btn-icon btn-icon-only btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete"><i class="fa fa-trash-alt"></i></button>
                          <div class="modal" id="delete" tabindex="-1">
                            <div class="modal-dialog">
                              <div class="modal-content">              
                                <div class="modal-body">
                                  <img src="./public/assets/images/delete.png" class="img-fluid mx-auto d-block">
                                </div>
                                <div class="mx-auto d-block pt-2 pb-4">
                                  <button type="button" class="btn btn-primary">ยืนยัน  </button>
                                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
    
                  </td>
    
              </tr>
              <tr>  
                <td></td>
                <td>1.1.2</td>
                <td width="10%">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end group-btn-table">
                        <button class="btn btn-sm btn-icon btn-icon-only btn-primary" type="button"><i class="fa fa-search"></i></button>
                        <button class="btn btn-sm btn-icon btn-icon-only btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#add"><i class="fa fa-edit"></i></button>
                          <div class="modal" id="add" tabindex="-1">
                            <div class="modal-dialog modal-xl">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">แก้ไขหมวดหลัก </h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>              
                                <div class="modal-body">
                                  <!-- Start -->
                                  <div class="row mt-2">          
                                    <div class="col-md-12">
                                      <div class=" row">
                                        <label  class="col-sm-5 col-form-label">ชื่อหมวดหลัก</label>
                                        <div class="col-sm-7">
                                          <input type="text" class="form-control">
                                        </div>
                                      </div>        
                                    </div>
                                    <div class="col-md-12">
                                      <div class=" row">
                                        <label class="col-sm-5 col-form-label">แนบไฟล์  <span class="text-red">*</span></label>
                                        <div class="col-sm-7">
                                          <input type="file" class="form-control" id="customFile1">
                                        </div>
                                      </div>        
                                    </div>                  
                                  </div>
                                  <!-- end -->
                                </div>   
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-success" data-bs-dismiss="modal">บันทึก </button>
                                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                                </div>                             
                              </div>
                            </div>
                          </div>
                        <button class="btn btn-sm btn-icon btn-icon-only btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete"><i class="fa fa-trash-alt"></i></button>
                          <div class="modal" id="delete" tabindex="-1">
                            <div class="modal-dialog">
                              <div class="modal-content">              
                                <div class="modal-body">
                                  <img src="./public/assets/images/delete.png" class="img-fluid mx-auto d-block">
                                </div>
                                <div class="mx-auto d-block pt-2 pb-4">
                                  <button type="button" class="btn btn-primary">ยืนยัน  </button>
                                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
    
                </td>
    
            </tr>
              </tbody>
          </table>
        </div>
      </div>
      
      
  
    </div>
    
  
  
   
  
  </main>
@@include('./common/footer.html')