@@include('./common/header.html')



<main>
    <div class="container-xl title-head two-column">
      <div class="row justify-content-between">
        <div class="col-auto">
          <h3 class="title">ระบบสืบค้น</h3>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-success" onclick="document.location.href='setting-search-add.html'">เพิ่มข้อมูล</button>
        </div>        
      </div>
      <h5>เงื่อนไขการค้นหา </h5>
      
      <div class="group-search">
        <!-- Start -->
        <div class="row from-one-column">
          <div class="col-md-6">
            <div class=" row">
              <label  class="col-sm-5 col-form-label">หมวดหมู่</label>
              <div class="col-sm-7">
                <select class="form-select" aria-label="Default select example">
                  <option selected="">กรุณาเลือก...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>        
          </div>
          
        </div>
        <!-- end -->
        
        
      </div>
      <!-- start -->
      <div class="card-footer  d-md-flex justify-content-md-end group-buttom-search">
        <button type="button" class="btn btn-green mx-1">ค้นหา</button>
        <button type="button" class="btn btn-green mx-1">แสดงทั้งหมด</button>
        <button type="button" class="btn btn-green mx-1">เริ่มค้นหาใหม่ </button>
      </div>
      <!-- end -->
      <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr class="bg-green3 text-white">
                <th scope="col">ลำดับ</th>
                <th scope="col">หมวดหมู่</th>
                <th scope="col">หมวดหลัก</th>
                <th scope="col"></th>
            </tr>
  
            </thead>
            <tbody>
            <tr>                
                <td></td>
                <td></td>
                <td></td>
                <td width="10%">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end group-btn-table">
                        <button class="btn btn-sm btn-icon btn-icon-only btn-primary" type="button"><i class="fa fa-search"></i></button>                      
                        <button class="btn btn-sm btn-icon btn-icon-only btn-warning" type="button"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-sm btn-icon btn-icon-only btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete"><i class="fa fa-trash-alt"></i></button>
                        <div class="modal" id="delete" tabindex="-1">
                          <div class="modal-dialog">
                            <div class="modal-content">              
                              <div class="modal-body">
                                <img src="./public/assets/images/delete.png" class="img-fluid mx-auto d-block">
                              </div>
                              <div class="mx-auto d-block pt-2 pb-4">
                                <button type="button" class="btn btn-primary">ยืนยัน  </button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
  
                </td>
  
            </tr>
            <tr>              
              <td></td>
              <td></td>
              <td></td>
              <td width="10%">
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end group-btn-table">
                      <button class="btn btn-sm btn-icon btn-icon-only btn-primary" type="button"><i class="fa fa-search"></i></button>
                      <button class="btn btn-sm btn-icon btn-icon-only btn-warning" type="button"><i class="fa fa-edit"></i></button>
                      <button class="btn btn-sm btn-icon btn-icon-only btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete"><i class="fa fa-trash-alt"></i></button>
                        <div class="modal" id="delete" tabindex="-1">
                          <div class="modal-dialog">
                            <div class="modal-content">              
                              <div class="modal-body">
                                <img src="./public/assets/images/delete.png" class="img-fluid mx-auto d-block">
                              </div>
                              <div class="mx-auto d-block pt-2 pb-4">
                                <button type="button" class="btn btn-primary">ยืนยัน  </button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
  
              </td>
  
          </tr>
            </tbody>
        </table>
    </div>
  
    </div>
    
  
  
   
  
  </main>
@@include('./common/footer.html')