@@include('./../common/header-frontend.html')


<main>
    <div class="hero-image">
        <div class="hero-text">
          <h3><b>โครงการระบบฐานข้อมูล (Smart Law )</b></h3>
          <h5>กรมส่งเสริมการปกครองท้องถิ่น</h5>
          <button class="btn btn-success mt-3">เข้าสู่ระบบ</button>
        </div>
      </div>


 

</main>


@@include('./../common/footer.html')