@@include('./../common/header-frontend.html')
@@include('./../common/search-menu.html')

<main>  
  <div class="container-xl search-law">
    <h5 class="text-center">กฏหมาย/ระเบียบ</h5>
    <div class="row justify-content-md-end">
     <div class="col-sm-4">
       <div class="input-group mb-3">
         <input type="text" class="form-control" placeholder="ค้นหา" aria-label="search" aria-describedby="button-addon2">
         <button class="btn btn-warning" type="button" id="button-addon2">ค้นหา </button>
       </div>
     </div>
    </div>
    <h5 class="title text-red">หมวดหลัก</h5>
    <!-- start -->
    <div class="row row-cols-md-4 category-file">
      <div class="col">
        <div class="card">         
          <div class="card-body card-file ">
            <img src="../public/assets/images/icon/tree.png" class="img-fluid w-80" alt="...">
          </div>
          <a href="./search-1-2.html" class="card-footer">
            <b class="text-muted">พรบ. </b>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card">         
          <div class="card-body card-file ">
            <img src="../public/assets/images/icon/tree.png" class="img-fluid w-80" alt="...">
          </div>
          <a href="#" class="card-footer">
            <b class="text-muted">พรก. </b>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card">         
          <div class="card-body card-file ">
            <img src="../public/assets/images/icon/tree.png" class="img-fluid w-80" alt="...">
          </div>
          <a href="#" class="card-footer">
            <b class="text-muted">พรฏ.   </b>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card">         
          <div class="card-body card-file ">
            <img src="../public/assets/images/icon/tree.png" class="img-fluid w-80" alt="...">
          </div>
          <a href="#" class="card-footer">
            <b class="text-muted">กฏกระทรวง. </b>
          </a>
        </div>
      </div>
    </div>
    <!-- end -->
    <!-- start -->
    <div class="row row-cols-md-4 category-file">
      <div class="col">
        <div class="card">         
          <div class="card-body card-file ">
            <img src="../public/assets/images/icon/tree.png" class="img-fluid w-80" alt="...">
          </div>
          <a href="#" class="card-footer">
            <b class="text-muted">ระเบียบ </b>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card">         
          <div class="card-body card-file ">
            <img src="../public/assets/images/icon/tree.png" class="img-fluid w-80" alt="...">
          </div>
          <a href="#" class="card-footer">
            <b class="text-muted">ประกาศ</b>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card">         
          <div class="card-body card-file ">
            <img src="../public/assets/images/icon/tree.png" class="img-fluid w-80" alt="...">
          </div>
          <a href="#" class="card-footer">
            <b class="text-muted">ข้อบังคับ  </b>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card">         
          <div class="card-body card-file ">
            <img src="../public/assets/images/icon/tree.png" class="img-fluid w-80" alt="...">
          </div>
          <a href="#" class="card-footer">
            <b class="text-muted">คำสั่ง </b>
          </a>
        </div>
      </div>
    </div>
    <!-- end -->
    <!-- start -->
    <div class="row row-cols-md-4  justify-content-center">
      
      <div class="col">
        <div class="card">         
          <div class="card-body card-file ">
            <img src="../public/assets/images/icon/tree.png" class="img-fluid w-80" alt="...">
          </div>
          <a href="#" class="card-footer">
            <b class="text-muted">ประมวลจริยธรรม </b>
          </a>
        </div>
      </div>
    </div>
    <!-- end -->









  </div>
 


 

</main>

@@include('./../common/footer.html')