@@include('./../common/header-frontend.html')
@@include('./../common/search-menu.html')

<main>  
  <div class="container-xl pb-5">
    <h5 class="text-center title text-red">หมวดหมู่ :: หมวดหลัก</h5>
    <h5 class="text-center">กฏหมาย/ระเบียบ :: พรบ.<หมวดหลัก></h5>
    <div class="row justify-content-md-end">
     <div class="col-sm-4">
       <div class="input-group mb-3">
         <input type="text" class="form-control" placeholder="ค้นหา" aria-label="search" aria-describedby="button-addon2">
         <button class="btn btn-warning" type="button" id="button-addon2">ค้นหา </button>
       </div>
     </div>
    </div>    
    <!-- start -->
    <ul id="myUL">
      <li><span class="caret"> <i class="fa-regular fa-folder-open fs-4 text-yellow1 me-3 "></i>พรบ. <หมวดย่อยที่ 1> </span>
        <ul class="nested"> 
          <li><span class="caret"><i class="fa-regular fa-file-lines fs-4 text-blue1 me-3"></i>พรบ. <หมวดย่อยที่ 1.1></span>
            <ul class="nested">
              <li>
                <div class="row row-cols-md-3">
                  <div class="col"><i class="fa-regular fa-file-lines fs-4 text-blue2 me-3"></i>พรบ. <หมวดย่อยที่ 1.1.1></div>
                  <div class="col"><i class="fa-regular fa-calendar text-blue1 me-3"></i> 20/06/2023</div>
                  <div class="col"><a href="#"><i class="fa-solid fa-file-pdf fs-4 text-red me-3 "></i></a></div>
                </div>
              </li>
              <li>
                <div class="row row-cols-md-3">
                  <div class="col"><i class="fa-regular fa-file-lines fs-4 text-blue2 me-3"></i>พรบ. <หมวดย่อยที่ 1.1.2></div>
                  <div class="col"><i class="fa-regular fa-calendar text-blue1 me-3"></i> 20/06/2023</div>
                  <div class="col"><a href="#"><i class="fa-solid fa-file-pdf fs-4 text-red me-3 "></i></a></div>
                </div>
              </li>
              
            </ul>
          </li>           
          
          <li><span class="caret"><i class="fa-regular fa-file-lines fs-4 text-blue1 me-3"></i>พรบ. <หมวดย่อยที่ 1.2></span>
            <ul class="nested">
              <li>
                <div class="row row-cols-md-3">
                  <div class="col"><i class="fa-regular fa-file-lines fs-4 text-blue2 me-3"></i>พรบ. <หมวดย่อยที่ 1.2.1></div>
                  <div class="col"><i class="fa-regular fa-calendar text-blue1 me-3"></i> 20/06/2023</div>
                  <div class="col"><a href="#"><i class="fa-solid fa-file-pdf fs-4 text-red me-3 "></i></a></div>
                </div>
              </li>
              <li>
                <div class="row row-cols-md-3">
                  <div class="col"><i class="fa-regular fa-file-lines fs-4 text-blue2 me-3"></i>พรบ. <หมวดย่อยที่ 1.2.2></div>
                  <div class="col"><i class="fa-regular fa-calendar text-blue1 me-3"></i> 20/06/2023</div>
                  <div class="col"><a href="#"><i class="fa-solid fa-file-pdf fs-4 text-red me-3 "></i></a></div>
                </div>
              </li>
              
            </ul>
          </li>     
        </ul>
      </li>

      <li><span class="caret"> <i class="fa-regular fa-folder-open fs-4 text-yellow1 me-3 "></i>พรบ. <หมวดย่อยที่ 2> </span>
        <ul class="nested"> 
          <li><span class="caret"><i class="fa-regular fa-file-lines fs-4 text-blue1 me-3"></i>พรบ. <หมวดย่อยที่ 2.1></span>
            <ul class="nested">
              <li>
                <div class="row row-cols-md-3">
                  <div class="col"><i class="fa-regular fa-file-lines fs-4 text-blue2 me-3"></i>พรบ. <หมวดย่อยที่ 2.1.1></div>
                  <div class="col"><i class="fa-regular fa-calendar text-blue1 me-3"></i> 20/06/2023</div>
                  <div class="col"><a href="#"><i class="fa-solid fa-file-pdf fs-4 text-red me-3 "></i></a></div>
                </div>
              </li>
              <li>
                <div class="row row-cols-md-3">
                  <div class="col"><i class="fa-regular fa-file-lines fs-4 text-blue2 me-3"></i>พรบ. <หมวดย่อยที่ 2.1.2></div>
                  <div class="col"><i class="fa-regular fa-calendar text-blue1 me-3"></i> 20/06/2023</div>
                  <div class="col"><a href="#"><i class="fa-solid fa-file-pdf fs-4 text-red me-3 "></i></a></div>
                </div>
              </li>
              
            </ul>
          </li>           
          
          <li><span class="caret"><i class="fa-regular fa-file-lines fs-4 text-blue1 me-3"></i>พรบ. <หมวดย่อยที่ 2.1></span>
            <ul class="nested">
              <li>
                <div class="row row-cols-md-3">
                  <div class="col"><i class="fa-regular fa-file-lines fs-4 text-blue2 me-3"></i>พรบ. <หมวดย่อยที่ 2.1.1></div>
                  <div class="col"><i class="fa-regular fa-calendar text-blue1 me-3"></i> 20/06/2023</div>
                  <div class="col"><a href="#"><i class="fa-solid fa-file-pdf fs-4 text-red me-3 "></i></a></div>
                </div>
              </li>
              <li>
                <div class="row row-cols-md-3">
                  <div class="col"><i class="fa-regular fa-file-lines fs-4 text-blue2 me-3"></i>พรบ. <หมวดย่อยที่ 2.1.2></div>
                  <div class="col"><i class="fa-regular fa-calendar text-blue1 me-3"></i> 20/06/2023</div>
                  <div class="col"><a href="#"><i class="fa-solid fa-file-pdf fs-4 text-red me-3 "></i></a></div>
                </div>
              </li>
              
            </ul>
          </li>     
        </ul>
      </li>
    </ul>
    <!-- end -->









  </div>
 


 

</main>

@@include('./../common/footer.html')