footer{
  background-color: $primary-color;
  color: $white-color;
  .btn-primary{
    background-color: $gray1-color;
    border-color:$gray1-color;
  }
  .text-body-secondary{
    color: $white-color !important;
  }
}