header{
  background-color: $white-color;
  .wrap{
    align-items: center;
    img{
      height: auto;
    }
    .nav-link{
      color: $back1-color;
      &.active{
        background-color: $primary-color;
      }
    }
  }
  
}