.navbar{
  --bs-navbar-padding-y: 0rem;
  --bs-nav-link-padding-y: 0rem;
  border-bottom: 10px solid $primary-color;
  
}
.navbar-nav , .navbar-nav .nav-link.show{
  color: $back2-color;  
  .nav-link.active{
    color: $white-color;
    background-color: $primary-color;
  }
  .dropdown-item{
    white-space: normal !important;
  }
}
.navbar-expand-lg {
  .navbar-collapse{
  justify-content: flex-end;
}
}
  
a.nav-link{
  padding: 15px 25px !important;
  color: $back2-color;
  &:hover{
    background-color: $primary-color;
  }
  &:active{
    background-color: $primary-color;
  }
}
.dropdown-menu.show {
    -webkit-animation: fadeIn 0.3s alternate;
    /* Safari 4.0 - 8.0 */
    animation: fadeIn 0.3s alternate;
    background-color: $third-color;
    border-top: 8px solid $primary-color;

  }
  
  .nav-item.dropdown.dropdown-mega {
    position: static;
    .dropdown-menu{
        width: 100%;
        top: auto;
        left: 0;
        border-top: 8px solid $primary-color;
        
    }  

  }
  ul.mega{
    list-style-type: none;
    padding-inline-start: 4px;
   
  }
  .dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
    color: $back2-color;
    background-color: $second-color;
}  
  .navbar-toggler {
    border: none;
    padding: 0;
    outline: none;
    .hamburger-toggle {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        z-index: 11;
        float: right;
      }
        .hamburger {
        position: absolute;
        transform: translate(-50%, -50%) rotate(0deg);
        left: 50%;
        top: 50%;
        width: 50%;
        height: 50%;
        pointer-events: none;
        }
        span {
            width: 100%;
            height: 4px;
            position: absolute;
            background: $white-color;
            border-radius: 2px;
            z-index: 1;
            transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
            left: 0px;
          }
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  
  .navbar-toggler {
    .hamburger-toggle{
      .hamburger {
        span:first-child{
          top: 10%;
          transform-origin: 50% 50%;
          transform: translate(0% -50%) !important;
        }
        span:nth-child(2) {
          top: 50%;
          transform: translate(0, -50%);
        }
        span:last-child{
          left: 0px;
          top: auto;
          bottom: 10%;
          transform-origin: 50% 50%;
        }
        &.active{
          span{
            position: absolute;
            margin: 0;
            &:first-child{
              top: 45%;
              transform: rotate(45deg);
            }
            &:nth-child(2){
              left: 50%;
              width: 0px;
            }
            &:last-child{
              top: 45%;
              transform: rotate(-45deg);
            }
          }
          
         
        }
      }
    }
  }
  @media (max-width: 1024px){
    .navbar{
      background-color: $gray1-color !important;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
      font-size: 0.85rem !important;
    }
    .nav-link{
      font-size: 0.85rem !important;
    }
    .nav-item.dropdown.dropdown-mega .dropdown-menu {
      border-top: none;
    }
    h5{
      font-size: 1rem;
    }
    .dropdown-item{
      font-size: 0.85rem;
    }
  }
  
 
 
  
  