$primary-color: #0A5908;
$second-color: #719F6F;
$green-color: #128610;
$third-color: #D8E4D6;
$green1-color: #E5FDE3;
$green2-color: #9EB99D;
$green3-color: #3E7834;
$gray1-color: #C6CAC6;
$gray2-color: #F2F2F2;
$back1-color: #000000;
$back2-color: #333333;
$yellow-color: #F0DA14;
$yellow1-color: #FDDA76;
$red-color: #C12424;
$blue1-color: #2B83EA;
$blue2-color: #60AAF2;
$white-color: #ffffff;
$add-color:#84A783
