@font-face {
  font-family: 'PromptRegular';
  src: url('../../public/assets/fonts/prompt/PromptRegular.eot');
  src: url('../../public/assets/fonts/prompt/PromptRegular.eot') format('embedded-opentype'),
       url('../../public/assets/fonts/prompt/PromptRegular.woff2') format('woff2'),
       url('../../public/assets/fonts/prompt/PromptRegular.woff') format('woff'),
       url('../../public/assets/fonts/prompt/PromptRegular.ttf') format('truetype'),
       url('../../public/assets/fonts/prompt/PromptRegular.svg#PromptRegular') format('svg');
}