@import 'base/font';
@import 'base/color';

@import 'layout/header';
@import 'layout/nav';
@import 'layout/footer';

@import 'pages/home';


body{
  font-family: 'PromptRegular';
}
main{
  min-height: 670px;
}
.text-bg-primary{
  background-color: $primary-color !important;
}
.bg-primary{
  background-color: $primary-color !important;
}
.bg-second{
  background-color: $second-color !important;
}
.bg-third{
  background-color: $third-color !important;
}
.bg-gray1{
  background-color: $gray1-color !important;
}
.bg-green{
  background-color: $green-color !important;
}
.bg-green1{
  background-color: $green1-color !important;
}
.bg-green2{
  background-color: $green2-color !important;
}
.bg-green3{
  background-color: $green3-color !important;
}
.bg-gray2{
  background-color: $gray2-color !important;
}
.bg-back1{
  background-color: $back1-color !important;
}
.bg-back2{
  background-color: $back2-color !important;
}
.bg-yellow{
  background-color: $yellow-color !important;
}
.bg-yellow1{
  background-color: $yellow1-color !important;
}
.bg-red{
  background-color: $red-color !important;
}
.bg-blue1{
  background-color: $blue1-color !important;
}
.bg-blue2{
  background-color: $blue2-color !important;
}
.bg-white{
  background-color: $white-color !important;
}
.text-primary{
  color: $primary-color !important;
}
.text-second{
  color: $second-color !important;
}
.text-third{
  color: $third-color !important;
}
.text-green{
  color: $green-color !important;
}
.text-green1{
  color: $green1-color !important;
}
.bg-green2{
  background-color: $green2-color !important;
}
.bg-green3{
  background-color: $green3-color !important;
}
.text-gray1{
  color: $gray1-color !important;
}
.text-gray2{
  color: $gray2-color !important;
}
.text-back1{
  color: $back1-color !important;
}
.text-back2{
  color: $back2-color !important;
}
.text-yellow{
  color: $yellow-color !important;
}
.text-yellow1{
  color: $yellow1-color !important;
}
.text-red{
  color: $red-color !important;
}
.text-blue1{
  color: $blue1-color !important;
}
.text-blue2{
  color: $blue2-color !important;
}
.text-white{
  color: $white-color !important;
}
.border-primary{
  border: $primary-color !important;
}
.border-second{
  border: 1px solid $second-color !important;
}
.border-third{
  border: 1px solid $third-color !important;
}
.border-green{
  border: 1px solid $green-color !important;
}
.border-green1{
  border: 1px solid $green1-color !important;
}
.border-green2{
  border: 1px solid $green2-color !important;
}
.border-green3{
  border: 1px solid $green3-color !important;
}
.border-gray1{
  border: 1px solid $gray1-color !important;
}
.border-gray2{
  border: 1px solid $gray2-color !important;
}
.border-back1{
  border: 1px solid $back1-color !important;
}
.border-back2{
  border: 1px solid $back2-color !important;
}
.border-yellow{
  border: 1px solid $yellow-color !important;
}
.border-yellow1{
  border: 1px solid $yellow1-color !important;
}
.borderred{
  border: 1px solid $red-color !important;
}
.border-blue1{
  border: 1px solid $blue1-color !important;
}
.border-blue2{
  border: 1px solid $blue2-color !important;
}
.border-white{
  border: 1px solid $white-color !important;
}
.notification {
  color: $yellow-color;
  position: relative;
  display: inline-block;  
  .badge{
    position: absolute;
    top: -9px;
    right: -10px;
    padding: 5px 8px;
    border-radius: 50%;
    background-color: $red-color;
    color: $white-color;
    
  }
  
}

.menu-left{
  display: inline !important;
  padding: 15px 20px;
  
}
a {
  color: $primary-color;
  text-decoration: none;
}
.btn-green {
  color: $white-color;
  background-color: $primary-color ;
  border-color: $primary-color;
 
  &:hover {
    color: $white-color;
    background-color: $green-color;
    border-color: $green-color;
}
}
.btn-add {
  color: $back1-color;
  background-color: $add-color ;
  border-color: $add-color;
 
  &:hover {
    color: $back1-color;
    background-color: $second-color;
    border-color: $second-color;
}
}
.table>thead {
  vertical-align: middle;
}
.title-head{
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
  
}
.title{
  text-decoration: underline;
  -webkit-text-decoration-color: $primary-color; /* Safari */  
  text-decoration-color: $primary-color;
  margin-bottom: 2rem;
}
.group-search{
  background-color: $gray2-color;
  padding: 1.5rem;
  border-radius: var(--bs-border-radius)!important;
  margin-bottom: 0.5rem;
}
.group-add{
  border: 1px solid $gray1-color !important;
  padding: 1.5rem;
  border-radius: var(--bs-border-radius)!important;
  margin-bottom: 1rem;
}
.group-out{
  margin: 1.5rem 0rem;
}
.group-buttom-footer{
  padding: 1.5rem 0rem 0rem 0rem ;
}
.group-buttom-search, .group-buttom-save{
  padding: 1.5rem 0;
}
.group-send-file{
  background-color: $green1-color;
  padding: 1.5rem;
  border-radius: var(--bs-border-radius)!important;
  margin-bottom: 0.5rem;
}
.from-two-column, .from-one-column, .from-full, .from-two-column-date{
  margin-bottom: 0.65rem;
}

.title-add, .title-responsible, .title-accused, .title-action, .title-result, .title-local, .title-send-book, .title-appeal, .title-victim, .title-plaintiff, .title-defendant, .title-story{
  margin-bottom: 0.5rem;
}

.bg-appeal{
  background-color: $second-color;
  padding: 1rem 0.5rem;
  border-radius: var(--bs-border-radius)!important;
}
.search-law{
  padding-bottom: 3.5rem;
  .category-file{
    margin-bottom: 1.5rem;
  }
  .card-file{
    background-color: $green3-color;
    text-align: center;
  }
}
table {
  border-collapse: collapse;
  border-radius: 0.4em;
  overflow: hidden;
}
th, thead {  
  padding: 0.8rem 0.5rem !important;
  
}
.btn {
  --bs-btn-padding-x: 1.8rem;
  --bs-btn-padding-y: 0.375rem;
}
.btn-group-sm>.btn, .btn-sm {
  --bs-btn-padding-x: 0.35rem;
  --bs-btn-padding-y: 0.175rem;
}
.gap-2 {
  gap: 0.2rem!important;
}
input.other{
  width: 80%;
  display: inline-block;
}
@media (min-width: 768px){
  .note{
    width: 21%;
  }
}
.icon-search{
  width: 150px;
  display: inline;
  margin: 5px 10px;

  a img{
    transition: transform .2s;
  }
  a img:hover{
    transform: scale(1.1);
  }
}
a.card-footer{
  background-color: $green2-color !important;
  text-align: right;
  &:hover{
    background-color: $yellow1-color !important;
  }
}
.w-80{
  width: 80%;
}
// tree view
/* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}
ul.tree{
  li{
    display: inline;
  }
}
.hero-image {
  background-image: url("./../assets/images/banner-1.png");
  background-color: #ffffff;  
  background-position: left;
  height: 670px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  background-color: rgba(255,255,255,0.8);           
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px 40px;
  transform: translate(-50%, -50%);
  text-align: center;
}
p.news{
  height: 98px;
  overflow: hidden;
}






